a,a:link{color:#455473;cursor:pointer}
body{padding-top:50px;font-family:'PT Sans',sans-serif}
body#map{padding-top:0}
section{padding:50px 0}
p{font-family:'PT Sans',sans-serif;font-size:16px;text-align:center}
h1,h2,h3,h4,h5,h6{text-align:center}
hr{border-color:#6374a6}
table{width:90%;margin:auto}
table thead{font-size:120%}
table td,table th{padding-bottom:.5em}
table td{vertical-align:top;padding-right:1em}
.container{display:block;margin:0 auto;width:70%}
#map-tiles{height:100vh;width:100%;}
.attribution{font-size:11px;margin-top:20px}
#map p{font-family:'Open Sans',sans-serif}
#map-tiles .leaflet-popup .leaflet-popup-close-button{font-size:23px;width:35px;height:35px;padding:8px 0 0 0;vertical-align:center}
#map-tiles .leaflet-popup .leaflet-popup-close-button:hover{background:#c3c3c3}
#map-tiles .leaflet-popup{font-family:'Open Sans',sans-serif;width:250;text-align:left !important}
#map-tiles .leaflet-popup p{font-size:12px;text-align:left;padding:5px}
#map-tiles .leaflet-popup img{display:block;margin:auto;width:100%;max-width:270px}
#map-tiles .leaflet-popup-content-wrapper{border-radius:0;padding:0;margin:0;max-width:300px}
#map-tiles .leaflet-popup-content{padding-bottom:15px;margin:0}
#map-tiles .leaflet-popup-content h1{text-align:left;padding:15px;border-bottom:1px solid #eee;margin-bottom:15px;margin-top:0;color:#1f3050;font-weight:700;font-size:16px}
#map-tiles .leaflet-popup-content a{text-align:left !important;color:#000}
#map-tiles .leaflet-popup-content p{margin:0;padding:5px 15px}
body{background:#1f3050}
[class*="col-"]{margin:0;padding:0}
.list-group-item:first-child,.list-group-item:last-child{border-top-right-radius:0 !important;border-top-left-radius:0 !important;border-bottom-left-radius:0 !important;border-bottom-right-radius:0 !important}
#map-menu-container{background:#1f3050;height:100vh;}#map-menu-container .list-group{border:none}
#map-menu-container .list-group-item{padding:0;background:#1f3050;color:#fff;font-size:12px;border:none;border-radius:none}
#map-menu-container li.list-group-item.category{border-left:0;border-right:0;border-radius:0;border-top:1px solid #aaa}
#map-menu-container li.list-group-item:first-child{border-top:0}
#map-menu-container span.toggle{padding:5px 0 5px 10px;padding-left:10px;display:block;width:100%;height:100%}
#map-menu-container span.toggle:hover{cursor:pointer}
#map-menu-container span.toggle.selected{background:#95d5d2;font-style:italic}
#map-menu-container .toggle-subcategories{padding-left:20px}
#map-menu-container .category ul{display:none}
#map-menu-container ul.subcategories{padding-left:10px}
#map-menu-container ul#map-menu{border-top:1px solid #aaa;border-bottom:1px solid #aaa}
#map-menu-container div#resetfilters{color:#fff;padding:5px;margin:10px;display:none;border:1px solid #fff;cursor:pointer}
#map-menu-container ul.type-of-initiative{text-align:left;display:none;background:#fcec74;position:fixed;left:16.7%;min-width:200px;top:0;z-index:10;-webkit-padding-start:0;padding:0 15px;border-top-right-radius:5px;border-bottom-right-radius:5px}#map-menu-container ul.type-of-initiative .list-group-item{background:#fcec74;padding:5px 0 5px 10px;color:#000;border-top:1px solid #fff}
#map-menu-container ul.type-of-initiative .list-group-item:hover{cursor:pointer}
#map-menu-container ul.type-of-initiative .list-group-item:first-child{border-top:0}
#map-menu-container ul.type-of-initiative .list-group-item.selected{background:#f2bd0b;font-style:italic}
#map-menu-container ul.type-of-initiative .list-group-item.empty{color:#808080}
.my-div-icon{width:30px;height:30px;background:rgba(31,48,80,0.5);border-radius:15px;margin-top:-15px}.my-div-icon div{display:none}
.my-div-icon:before{width:20px;height:20px;content:"";display:block;background:#1f3050;position:relative;border-radius:10px;top:5px;left:5px}
.my-div-icon:hover div{display:inline-block;background:rgba(255,255,255,0.5);position:absolute;right:-80px;bottom:35px;z-index:15000;width:200px;text-align:center;border:1px solid #1f3050;border-radius:5px;padding:5px}
#backtotop{display:none;position:absolute;top:5px;left:5px;border-radius:5px;z-index:200;width:74px;height:74px;background:#1f3050 url(../../assets/icon-filter-64.png) 5px 5px no-repeat;cursor:pointer}
@media screen and (max-width:1200px){#map-menu-container ul.type-of-initiative{left:25%}}@media screen and (max-width:768px){#map-menu-container ul.type-of-initiative{position:relative;left:0} #backtotop{display:block}}
