a,
a:link {
    color: #455473;
    cursor: pointer
}

body {
    padding-top: 50px;
    font-family: 'PT Sans', sans-serif
}

body#map {
    padding-top: 0
}

section {
    padding: 50px 0
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center
}

hr {
    border-color: #6374A6
}

table {
    width: 90%;
    margin: auto
}

table thead {
    font-size: 120%
}

table td,
table th {
    padding-bottom: 0.5em
}

table td {
    vertical-align: top;
    padding-right: 1em
}

.container {
    display: block;
    margin: 0 auto;
    width: 70%
}


.attribution {
    font-size: 11px;
    margin-top: 20px
}

#map p {
    font-family: 'Open Sans', sans-serif
}

#map-tiles .leaflet-popup {
    font-family: 'Open Sans', sans-serif;
    width: 250;
    text-align: left !important
}

#map-tiles .leaflet-popup p {
    font-size: 12px;
    text-align: left;
    padding: 5px
}

#map-tiles .leaflet-popup img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 270px
}

#map-tiles .leaflet-popup-content-wrapper {
    border-radius: 0;
    padding: 0px;
    margin: 0;
    max-width: 300px
}

#map-tiles .leaflet-popup-content {
    padding-bottom: 15px;
    margin: 0
}

#map-tiles .leaflet-popup-content .popup-heading {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px
}

#map-tiles .leaflet-popup-content .popup-heading a {
    margin: 0;
    color: #1f3050;
    font-weight: 700;
    font-size: 16px
}

#map-tiles .leaflet-popup-content a {
    text-align: left !important;
    color: #000
}

#map-tiles .leaflet-popup-content p {
    margin: 0;
    padding: 5px 15px
}

/**************
PAGE LAYOUT
**************/

#map-tiles {
    height: 100vh;
    width: 100%;
}

[class*="col-"]{
  margin: 0;
  padding: 0;
}

#map-menu-container {
    background: #fff;
    height: 100vh;
    cursor: pointer;
    .list-group {
        border: none;
    }
    .list-group-item {
        background: #fff;
        color: #000;
        font-size: 12px;
        padding: 5px 0 5px 0px;
        border: none;
        border-radius: none;
    }
    .category .list-group-item {
        border-left: 0px;
        border-right: 0px;
        border-radius: 0;
    }
    .toggle {
        padding-left: 10px;
    }
    .toggle-subcategories {
        padding-left: 20px;
    }
    .category ul {
        display: none;
    }
    .subcategories {
        padding-left: 0;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: -10px;
        li.list-group-item {
            padding: auto 0;
            border-top: none;
            border-bottom: none;
            border-left: none;
            border-right: none;
            ul.type-of-initiative {
                text-align: left;
                display: none;
                background: #E7B400;
                position: absolute;
                left: 100%;
                min-width: 150px;
                top: 0;
                z-index: 10;
                -webkit-padding-start: 0px;
                padding: 0px 15px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                .list-group-item {
                    background: #E7B400;
                }
            }
        }
    }
}

.active-filter {
        background: #E7B400 !important;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0
}


/*******************
MEDIA
*******************/

@media screen and (min-width:768px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    #about-get-involved {
        min-height: 100%
    }
    #about-who-we-are {
        min-height: 100%
    }
}

@media screen and (max-width:980px) {
    .container {
        width: 80%
    }
    section#maps .map-card h1 {
        font-size: 14px
    }
    section#maps .map-card p {
        font-size: 12px
    }
}

@media screen and (max-width:768px) {
    .featured {
        padding-bottom: 10px
    }
}

@media screen and (max-width:800px) {
    .container {
        width: 90%
    }
}

@media screen and (max-width:540px) {
    .container {
        width: 95%
    }
    .map-card {
        display: block;
        margin: 25px auto;
        width: 80%
    }
}

@media screen and (max-width:360px) {
    .map-card {
        display: block;
        margin: 25px auto;
        width: 70%
    }
}