/* next 4 are currently used */
@yellow-bright: #fcec74; /* 1 #F6DF05 2 */
@yellow-dark: #F2BD0B; /* #F0BB0C */
@blue-bright: #95D5D2; /* 5 */ 
@blue-dark: #1F3050; /* 6 */

/* the original ones from the CD document */
@cd-darkblue: #1F3050;
@cd-brightblue: #95D5D2;
@cd-yellow: #FFDD00;

/* from map.js - here just for comparison */
@start1: #FCEC74; /* yellow-bright */
@start2: #F7DF05; /* yellow-dark */
@start3: #F2BD0B; /* yellow-darker (orange) */
@start4: #FFF030; /* yellow */
@start5: #95D5D2; /* bright blue */
@start6: #1F3050; /* dark blue */


a,
a:link {
    color: #455473;
    cursor: pointer
}

body {
  margin:0;
  font-family: 'PT Sans', sans-serif;
  background: @blue-dark;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center
}


/**************************
Basic map and pop up styles
**************************/

#map-tiles {
  height: 100vh;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:240px;

  .leaflet-popup {
    font-family: 'Open Sans', sans-serif;
    text-align: left !important;

    .leaflet-popup-close-button {
      font-size:23px;
      width:35px;
      height:35px;
      padding:8px 0 0 0;
      vertical-align:center;
    }
    .leaflet-popup-close-button:hover {
      background:#c3c3c3;
    }

    .leaflet-popup-content-wrapper {
      border-radius: 0;
      padding: 0px 2px 0 0; /*20px for scrollbar*/
      margin: 0;
      max-width: 300px;
      max-height: 90vh;
      overflow:auto;

      .leaflet-popup-content {
        padding-bottom: 15px;
        margin: 0;

        h1 {
          text-align: left;
          padding: 15px;
          padding-right:30px; /*don't overlap with ×-button*/
          border-bottom: 1px solid #eee;
          margin-bottom: 15px;
          margin-top:0px;
          color: #1f3050;
          font-weight: 700;
          font-size: 16px;
        }

        p {
          font-size: 12px;
          text-align: left;
          padding: 5px 15px;
          margin: 0;

          img {
            display: block;
            margin: auto;
            width: 100%;
            max-width: 270px;
          }

          a {
            text-align: left !important;
            color: black;
          }
        }
        h3 {
          margin:0;
          padding:5px 15px 0;
          text-align:left;
          font-size:12px;
          font-weight:bold;
        }

      }
    }
  }
  .my-div-icon {
    width:30px;
    height:30px;
    background:rgba(31,48,80,0.5);
    border-radius:15px;
    margin-top:-15px;
    div {
      display:none;
    }
  }
  .my-div-icon:before {
    width:20px;
    height:20px;
    content:"";
    display:block;
    background:@blue-dark;
    position:relative;
    border-radius:10px;
    top:5px;
    left:5px;
  }
  .my-div-icon:hover > div {
    display:block;
    width:200px;
    z-index:15000;
    margin-left:-85px;
    position:absolute;
    bottom:35px;
    div {
      display:block;
      margin: 0 auto;
      background:rgba(255,255,255,0.8);
      text-align:center;
      width:fit-content;
      border:1px solid @blue-dark;
      border-radius:5px;
      padding:5px 8px;
    }
  }
}

#showfilters {
  display:none;
  position:absolute;
  top:50px;
  left:10px;
  border-radius:4px;
  width:26px;
  height:26px;
  background:white url(../../assets/icon-filter-24.png) 50% 50% no-repeat;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  cursor:pointer;
}

/**************
Map menu styling
**************/

/* Menu styles */
#map-menu-container {
    background: @blue-dark;
    height: 100vh;
    overflow:auto;
    width:240px;
    font-size: 0.8em;
    /* Main categories */
    ul#map-menu {
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        padding:0;
        margin:0;
        border: none;
        .list-group-item {
            padding:0;
            background: @blue-dark;
            color: #fff;
            border: none;
            border-radius: none;
            span.expert_mode.off {
                display:none;
            }
            span.expert_mode.on {
                display:block;
                float:right;
                margin-right:3px;
                margin-left:6px;
                font-style:normal;
                color:black;
                span {
                  text-align:center;
                  margin:0;
                  float:none;
                  font-weight:bold;
                  background:@yellow-bright;
                  border:1px solid @yellow-dark;
                  border-top-left-radius: 4px;
                  border-bottom-left-radius: 4px;
                  padding:2px 4px;
                }
                span:hover {
                  background:@yellow-dark;
                }
                span + span {
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                }
                span.inactive {
                  color:#bbb;
                }
            }
        }
        li.list-group-item.category {
            border-left: 0px;
            border-right: 0px;
            border-radius: 0;
            border-bottom: 1px solid #aaa;
        }
        /* These elements are spans inside list group items, to toggle subcategories */
        span.toggle {
            padding: 5px 0 5px 10px;
            display:block;
            height:100%;
            cursor: pointer;
        }
        span.toggle.selected {
            background:@blue-bright;
            font-style:italic;
        }
        .toggle-subcategories {
            padding-left: 20px;
        }
        .category ul {
            display: none;
        }
        ul.subcategories {
            padding-left: 10px;
            li.list-group-item:last-child {
                border-bottom: 0;
            }
        }
        ul.type-of-initiative {
            text-align: left;
            display: none;
            background: @yellow-bright;
            position: fixed;
            left: 240px;
            top: 0;
            z-index: 10;
            -webkit-padding-start: 0px;
            padding: 0px 15px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            .list-group-item {
                background: @yellow-bright;
                padding: 5px 0 5px 10px;
                color: #000;
                border-top:1px solid white;
            }
            .list-group-item:hover {
                cursor: pointer;
            }
            .list-group-item:first-child {
              border-top:0;
            }
            .list-group-item.selected {
                background:@yellow-dark;
                font-style:italic;
            }
            .list-group-item.empty {
                color:gray;
            }

        }
    }
    #activefilters {
      padding:0 0 0 10px;
      color:white;
      h2 {
        text-align:left;
      }
      .expert_mode.off {
        display:none;
      }
      ul {
        padding:0;
        margin:0;
        li {
          border-radius:5px;
          padding:3px 22px 3px 5px;
          margin:5px 5px 5px 0;
          background:@yellow-dark;
          color:black;
          .close {
            font-weight:bold;
            background: @yellow-bright;
            text-align:center;
            display:block;
            padding:3px;
            margin-top:-3px;
            margin-right:-22px;
            border-top-right-radius:5px;
            border-bottom-right-radius:5px;
            height:100%;
            width:12px;
            float:right;
            border-left:1px solid @yellow-bright;
          }
          .close:hover {
            background:@yellow-dark;
            cursor:pointer;
          }
        }
      }
    }

    div#resetfilters,
    div#toggleAdvancedFilters,
    div#mobileShowMap{
      display:none;
      width:fit-content;
      color:white;
      padding:5px;
      margin:10px;
      border:1px solid white;
      cursor:pointer;
    }
    div#toggleAdvancedFilters {
      display:block;
    }
}



/*******************
MEDIA
*******************/
@media screen and (max-width:768px) {
    #map-menu-container {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      ul.type-of-initiative {
        position:static;
      }
      div#mobileShowMap {
        display:block;
      }
    }
    #map-tiles .leaflet-popup-pane   {
      bottom:0;
      right:0;
    }
    #map-tiles {
      left:0;
   /*   .leaflet-popup {
        position:fixed !important;
        transform:none !important;
        margin:0px;
        width:100vw;
        height:100vh;
        top:0px !important;
        left:0px !important;
        bottom:0px !important;
        right:0px !important;
      } */
    }
    #showfilters {
      display:block;
    }
    .leaflet-top { /* to prevent overlapping with popup-close button */
      top:40px;
    }
}

