a,
a:link {
    color: #455473;
    cursor: pointer
}

body {
    padding-top: 50px;
    font-family: 'PT Sans', sans-serif
}

body#map {
    padding-top: 0
}

section {
    padding: 50px 0
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center
}

hr {
    border-color: #6374A6
}

table {
    width: 90%;
    margin: auto
}

table thead {
    font-size: 120%
}

table td,
table th {
    padding-bottom: 0.5em
}

table td {
    vertical-align: top;
    padding-right: 1em
}

.container {
    display: block;
    margin: 0 auto;
    width: 70%
}


.attribution {
    font-size: 11px;
    margin-top: 20px
}

#map {
    max-height: 100%;
    max-width: 100%
}

#map p {
    font-family: 'Open Sans', sans-serif
}

#mapFiltersTemplate {
    height: 100vh;
    width: 20vw
}

#map-tiles {
    height: 100vh;
    width: 80%;
    position: fixed;
    display: inline block;
    float: left;
    margin-left: 20vw
}

#map-tiles .leaflet-popup {
    font-family: 'Open Sans', sans-serif;
    width: 250;
    text-align: left !important
}

#map-tiles .leaflet-popup p {
    font-size: 12px;
    text-align: left;
    padding: 5px
}

#map-tiles .leaflet-popup img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 270px
}

#map-tiles .leaflet-popup-content-wrapper {
    border-radius: 0;
    padding: 0px;
    margin: 0;
    max-width: 300px
}

#map-tiles .leaflet-popup-content {
    padding-bottom: 15px;
    margin: 0
}

#map-tiles .leaflet-popup-content .popup-heading {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px
}

#map-tiles .leaflet-popup-content .popup-heading a {
    margin: 0;
    color: #1f3050;
    font-weight: 700;
    font-size: 16px
}

#map-tiles .leaflet-popup-content a {
    text-align: left !important;
    color: #000
}

#map-tiles .leaflet-popup-content p {
    margin: 0;
    padding: 5px 15px
}

#map-filters-container {
    background: #1f3050;
    height: 100vh;
    width: 20%;
    min-width: 150px;
    top: 0;
    left: 0
}

#map-filters-container img {
    max-width: 100px;
    display: block;
    margin: auto
}

#map-filters-container .list-group {
    font-size: 12px !important
}

#map-filters-container .category.list-group-item {
    background: #1f3050;
    color: #fff;
    font-size: 14px;
    border-top: 1px solid #aaa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0;
    z-index: 9999999
}

#map-filters-container .category.list-group-item:hover {
    cursor: pointer
}

#map-filters-container h3 {
    margin: 0;
    padding: 10px;
    color: #fff
}

.category ul {
    display: none
}

ul.subcategories {
    padding-left: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: -10px
}

.subcategories li.list-group-item {
    background: #1f3050;
    padding: auto 0;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none
}

ul.type-of-initiative {
    text-align: left;
    display: none;
    background: #E7B400;
    position: absolute;
    left: 100%;
    min-width: 200px;
    top: 0;
    z-index: 10
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0
}

@media screen and (min-width:768px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    #about-get-involved {
        min-height: 100%
    }
    #about-who-we-are {
        min-height: 100%
    }
}

@media screen and (max-width:980px) {
    .container {
        width: 80%
    }
    section#maps .map-card h1 {
        font-size: 14px
    }
    section#maps .map-card p {
        font-size: 12px
    }
}

@media screen and (max-width:768px) {
    .featured {
        padding-bottom: 10px
    }
}

@media screen and (max-width:800px) {
    .container {
        width: 90%
    }
}

@media screen and (max-width:540px) {
    .container {
        width: 95%
    }
    .map-card {
        display: block;
        margin: 25px auto;
        width: 80%
    }
}

@media screen and (max-width:360px) {
    .map-card {
        display: block;
        margin: 25px auto;
        width: 70%
    }
}